body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff ; 
}
.hedding{
	font-size: 20px;
	color:#ab8181;
}
.main-section{
	position: relative;
	left:55%;
	right:45%;
	transform: translate(-50%,0%);
}
.left-side-product-box img{
    width: 100%;
    left: 20%;
}
.left-side-product-box .sub-img img{
	margin-top:5px;
	width:81px;
	height:98px;
}
.right-side-pro-detail span{
	font-size:15px;
}
.right-side-pro-detail p{
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:25px;
	color:#000000;
}
.right-side-pro-detail .price-pro{
    color:#000000;
    font-size:18px;
}
.right-side-pro-detail .tag-section{
	font-size:18px;
	color:#5D4C46;
}
.pro-box-section .pro-box img{
    width: 80%;
	height: 80%;
}
@media (min-width:360px) and (max-width:640px) {
	.pro-box-section .pro-box img{
		height:auto;
	}
}
* {
    border-radius: 0 !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  small{
      color: #928f8f;
  }
  .black-line
  {
      
    border-top: 0.8px solid rgb(80, 76, 76);
  }
  h3{
    font-size:1px;
  }