/* td {
    text-align: left;
}
th {
    text-align: left;
}

tr {
    text-align: left;
}

tbody{
    align-items: left;
} 

.text-primary, .text-primary:hover, .text-primary:active, .text-primary:visited {
    background-color: transparent !important;
}
.text-danger, .text-danger:hover, .text-danger:active, .text-danger:visited {
    background-color: transparent !important;
}
.i{
    color:black;
} */
.Heading-QandA
{
    background-color: black;
    color: white;
}
.questions
{
    width: 35%;
}
.logo-image
{
    width: 60%;
    height: 300px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.title-of-page
{
    text-align: center;
    padding: 2% 0;
}

.text-of-page
{
    text-align: center;
    padding: 3% 17%;
    line-height: 2;
}
.text-of-exchange
{
    padding: 2% 15%;
}