.middle
{
    text-align: center;
}

.hr-shopByCollection
{
    background-color: gold;
}

.header-shopByCollection
{
    padding-top: 2%;
}

/* IMAGES */

.pictures-text
{
    text-align: center;
    padding: 5% 0;
}