.icons
{
    color: grey;
}
.logo
{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
/* .navbar-top
{
    padding: 10px 0;
} */
.hr-navBar
{
    background-color: #FFD700;
    width: 100%;

}

.nav-button
{
    color: black;
    padding: 20px 50px;

}
#nav-dropdown
{
    color: black;
    padding: 20px 10px;

}
