.left{
    padding-left: 100px;
}
.right{
    padding-right: 85px;
}
.btn-dark{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom:10px;
}
.btn-outline-dark{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom:10px;
}